@font-face {
    font-family: 'Terminus';
    src: url(font/TerminusTTF.ttf);
}

@font-face {
    font-family: 'Terminus-Bold';
    src: url(font/TerminusTTF-Bold.ttf);
}

@font-face {
    font-family: 'Terminus-Italic';
    src: url(font/TerminusTTF-Italic.ttf);
}

html {
    background-color: #050505;
	font-family: 'Terminus', monospace;
    font-size: 0.84rem;
    color: #DCDCCC;
}

h2 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.7rem;
}

h6 {
    font-size: 1rem;
}

body {
    margin: 2rem 8rem 2rem 8rem;
}

footer {
    font-size: 0.81rem;
    padding: 15px;
    text-align: center;
}

#CCL {
	border-width:0
}

footer p {
	margin: 0px;
}

time {
	font-family: 'Terminus-Bold', monospace;
	float: right;
    font-size: 0.80rem;
    color: #FFF;
}

li time {
	float: none;
}

a {
    text-decoration: none;
    color: #E9700C;
    transition: color 1s ease;
}

a:visited {
    text-decoration: none;
    color: #E9700C;
}

a:hover {
    color: #87FF00;
}
